.main-div {
  height: 100vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  background-image: linear-gradient(rgba(24, 22, 22, 0.603),
      rgba(37, 29, 29, 0.493)),
    url('../../images/covid_bg.jpg');
  background-size: cover;
}



.information-section {
  flex: 0 0 0px;
  min-width: 50%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

}

.information-section__buttons-div {
  flex: 0 0 0px;
  display: flex;
  max-height: 30%;
  min-height: 30%;
  justify-content: space-around;
  flex-flow: row wrap;

}

.symptoms-btn {
  background-color: #ff5722;
  color: whitesmoke;
  margin: 20px;
  display: inline-block;
}

.preventions-btn {
  background-color: #f44336;
  color: whitesmoke;
  margin: 20px;
  display: inline-block;
}


.information-section__image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-section__image {

  // max-width: 60%;
  height: 320px;
  padding: 10px;
  align-self: center;

}

// list-by-country-section styles

.list-by-countries-section {

  min-width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;

}



.global-data {

  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  color: whitesmoke;

}


.global-total-cases,
.global-recovered-cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // max-height: 150px;

}

.global-data__cases-label {
  padding: 10px;
  border-radius: 6px;
}

.global-data__cases-numbers {
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  margin-top: 40px;
  border-radius: 5px;
  ;
}


.global-numbers-label,
.global-numbers {
  background: $extra-light-red;
  color: $red;
}

.global-recovered-label,
.global-recovered {
  background: $extra-light-green;
  color: $green;
}

.country-data {
  flex: 0 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-list {
  color: white;
  font-size: 18px;
}

.country-item {
  margin: 6px;
}

table {

  overflow: scroll;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 20px;
}

th,
td {
  border: 0.1px dotted #ddd;
  text-align: center;
  border-right: solid;
  padding: 6px;
}

.country-list__country {
  margin: 20px;
}

.country-list__total {
  background-color: #fff5f5;
  color: #e53e3e;
  border: 0.1px solid #fed7d7;
}

.country-list__recovered {
  background-color: $light-green;
  color: $green;
  border: 0.1px solid $extra-light-green;
}

// Responsive styles


@media (min-width: 493px) and (max-width: 1064px) {

  .information-section__image {
    height: 200px;
  }

  .info-btn {
    padding: 25px;
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 933px) {

  .main-div {
    height: auto;
  }

  .information-section__buttons-div {
    flex-flow: nowrap;
  }
}

@media (min-width: 320px) and (max-width: 493px) {

  .list-by-countries-section {
    height: auto;
  }

  .information-section__image {
    height: 175px;
  }

  .info-btn {
    padding: 18px;
    font-size: 15px;
  }


}